
MagBoard/MagBoard.xcodeproj/project.xcworkspace/xcuserdata/Dennis.xcuserdatad/UserInterfaceState.xcuserstate

MagBoard/.DS_Store

MagBoard/MagBoard.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcschemes/xcschememanagement.plist

MagBoard/MagBoard.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcschemes/MagBoard.xcscheme

MagBoard/MagBoard.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MagBoard/MagBoard.xcodeproj/project.xcworkspace/xcuserdata/LeoMacbook.xcuserdatad/UserInterfaceState.xcuserstate

MagBoard_v1/MagBoard.xcodeproj/project.xcworkspace/xcuserdata/Dennis.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

MagBoard_v1/.DS_Store

MagBoard_v1/MagBoard.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcschemes/MagBoard.xcscheme

MagBoard_v1/MagBoard.xcworkspace/xcuserdata/LeoMacbook.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist

MagBoard_v1/MagBoard.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcschemes/xcschememanagement.plist

MagBoard_v1/Pods/Pods.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcschemes/Pods.xcscheme

MagBoard_v1/Pods/Pods.xcodeproj/xcuserdata/LeoMacbook.xcuserdatad/xcschemes/xcschememanagement.plist
